@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signinManager
@{
    ApplicationUser appUser = null;
    ViewData["Title"] = "Home Page";
    if (signinManager.IsSignedIn(User))
        appUser = await userManager.FindByNameAsync(User.Identity.Name);
}

<div class="text-center">
    <h1 class="display-4">Welcome @appUser?.FirstName</h1>
</div>
